.container {
  max-width: 2000px;
  width: 100%;
}
.wrapper {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex: 1;
}
